* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: auto;
    min-height: 75px;
    background-color: #000000;
    box-shadow: rgba(0, 0, 0, .5);
}

main {
    width: 100%;
    min-height: calc(100vh - 75px);
    height: auto;
    background-color: #000807;
}

.main-header {
    font-family: "DejaVu Sans", sans-serif;
    font-size: 40px;
    color: #EDF2EF;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;
}

.sub-header {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #EDF2EF;
    margin-top: 10px;
    text-align: center;
}

.header-items {
    width: 35%;
    display: flex;
    justify-content: space-around;
}

.header-item {
    font-family: "Cantarell", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #EDF2EF;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor: pointer;
    width: auto;
}

.header-item:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
    z-index: 10;
}

.header-item:hover:after, .header-item:focus:after {
    width: 100%;
}

.url-form {
    display: flex;
    justify-content: space-around;
}

.url-form-input {
    font-family: Roboto, sans-serif;
    font-size: 18px;

    color: #EDF2EF;
    background-color: #202020;

    border-radius: 10px;
    border: none;

    padding: 10px 5px;
    width: 400px;
    margin-top: 30px;
}

@media (max-width: 725px) {
    .header-items {
        width: 50%;
    }

    .main-header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 500px) {
    .header-items {
        width: 100%;
    }

    .sub-header {
        padding-left: 10px;
        padding-right: 10px;
    }
}