main {
    padding-top: 200px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.url {
    display: flex;
    justify-content: space-between;

    width: 500px;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(32, 32, 32, 0.5);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(32, 32, 32, 0.2);
}

.url-text {
    font-family: "Roboto Thin", sans-serif;
    color: #EDF2EF;
    line-height: 2em;
    padding-left: 10px;
    margin-right: 20px;
}

.url-button {
    width: 50px;
    height: 32px;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: rgba(32, 32, 32, 0.8);
    color: #EDF2EF;
    cursor: pointer;
}


.url-timestamp {
    position: absolute;
    font-family: "Roboto Light", sans-serif;
    color: #EDF2EF;
    line-height: 2em;
    bottom: 10px;
    left: 10px;
}

@media (max-width: 1000px) {
    .header-items {
        width: 50%;
    }

    .main-header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 700px) {
    .header-items {
        width: 100%;
    }

    .sub-header {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 485px) {
    .url-link {
        width: 300px;
    }
}